<div class="container">
  <mat-card class="todoapp">
    <mat-card-title>
      Simple Task List
    </mat-card-title>
    <mat-card-content>
      <section class="main">
        <form class="example-form">
          <mat-form-field>
            <input 
              matInput 
              class="new-todo" 
              placeholder="What needs to be done?" 
              autofocus="" 
              [(ngModel)]="newTodo.title" 
              (keyup.enter)="addTodo()"
              name="title">
          </mat-form-field>
        </form>
      </section>
      
      <section class="main" *ngIf="todos.length > 0">
        <mat-list class="todo-list">
          <mat-list-item *ngFor="let todo of todos">
            <div class="view" [ngClass]="{'checked': todo.isDone}">
              <mat-checkbox 
                class="toggle"
                (change)="toggleTodoComplete(todo)"
                [checked]="todo.isDone">
              </mat-checkbox>
              <label>{{todo.title}}</label>
              <button mat-icon-button class="destroy" (click)="removeTodo(todo)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </section>
    </mat-card-content>
    <mat-card-footer class="footer" *ngIf="todos.length > 0">
      <span class="todo-count">
        <strong>{{todos.length}}</strong>
        {{todos.length == 1 ? 'item' : 'items'}} left
      </span>
    </mat-card-footer>
  </mat-card>
</div>